<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Anonymous messages</title>
	</head>
	<body>
		<%if(!logged){%>
		<a href="sign-up"><button>Sign up</button></a>
		<a href="login"><button>Login</button></a>
		<%} else {%>
		<a href="message"><button>Send message</button></a>
		<a href="logout"><button>Logout</button></a>
		<%if(!isMember){%>
		<a href="member"><button>Become member</button></a>
		<%}%>
		<%}%>
		<%for(let i=0;i<messages.length;i++){%>
			<hr>
			<div><%=isMember?`${messages[i].first_name} ${messages[i].last_name}`:'Anonymous'%>: <%=messages[i].message%></div>
			<div>Timestamp: <%=messages[i].time_stamp%></div>
			<%}%>
	</body>
</html>
