<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anonymous messages</title>
</head>
<body>
    <% if (locals.errors.length) {%>
        <ul>
          <% errors.forEach(function(error) { %>
            <li><%= error %></li>
          <% }); %>
        </ul>
      <% } %>
    <form method="post">
        <label for="email">Email id: </label>
        <input type="text" name="email" id="email">
        <label for="password">Password: </label>
        <input type="password" name="password" id="password">
        <button type="submit">Login</button>
    </form>
    <a href="/"><button>Cancel</button></a>
</body>
</html>