<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anonymous messages</title>
</head>
<body>
    <form method="post">
        <label for="message">Message content: </label>
        <textarea name="message" id="message" placeholder="Write your message here"></textarea>
        <button type="submit">Message</button>
    </form>
    <a href="/"><button>Cancel</button></a>
</body>
</html>